:root {
  --soulcodeGreen: #33b7a3;
  --soulcodeBlue: #3276b4;
}

.template-button {
  background-color: var(--soulcodeBlue) !important;
}

.template-button--active {
  font-weight: bold !important;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 2px 2px !important;
  background-color: var(--soulcodeGreen) !important;
}

.template-search-filter {
  position: relative;
  width: 150px;

  .search-input {
    width: 100%;
    margin: 0;
  }

  button.template-search-filter-clear-button {
    position: absolute;
    border: none;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 10px;
    font-size: 12px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 5px;
    background: #ddd;
    margin: 7px 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;
  }
}

/* Super  special button styling for active delete action */
.bx-formular-header:has(.btn-danger)+#bexioTimetrackingTemplates-entries:not(:has(.template-button--active)) {

  & button:focus,
  & button:hover {
    background-color: red !important;
    text-decoration: line-through;
  }
}