.error {
  background-color: rgb(230, 88, 88);
  color: white;
  padding: 1px 20px;
}

.importDataTable tr:last-child td {
  font-weight: bold;
  background-color: #33b7a2;
  color: white;
}

tr:nth-child(even) {
  background-color: #3276b44a;
}

.content button {
  margin-right: 10px;
}

select {
  padding: 5px;
}