.error {
  background-color: rgb(230, 88, 88);
  color: white;
  padding: 1px 20px;
}

.importDataTable tr:last-child td {
  font-weight: bold;
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}

.content button {
  margin-right: 10px;
}

select {
  padding: 5px;
}